<div style="margin: 25px auto; width: 600px; text-align: center; background: white;">
    <div style="width: 600px;">
        <img src="https://drive.google.com/uc?export=view&id=1jNB7am-cwSXzY7K7Hv0TxaSrXMbwBKvV" style="width: 30%; height: 30%;" alt="saver logo">
    </div>
    <div style="width: 600px;">
        <h2 style="font-family: arial black, sans-serif; color: rgb(166, 21, 244);">{{content}}</h2>
        <h5 style="font-size: 20px;"><span style="font-family: 'book antiqua', palatino, serif; text-decoration: underline;">Lorem Lorem Lorem Lorem</span></h5>
        <p style="padding: 10px; text-align: left; font-size: 17px; line-height:1.8; font-family: Roboto, Arial, Helvetica, Verdana;">
            Schedular: {{message}}
        </p>
    </div>
    <div style="width: 600px;">
        <div style="width: 250px; display: inline-block; margin-right: 10px;">
            <div>
                <img src="https://drive.google.com/uc?export=view&id=1NvkkCNipsdyANNlEQFtkFUTWE2oDvn2S" width="100%" alt="">
            </div>
            <div>
                <h3 style="font-size: 25px; font-weight: 200; font-family: impact, sans-serif;">Multiple accounts</h3>
                <p style="font-size: 17px; text-align: left; line-height: 1.8;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit beatae doloremque sapiente explicabo assumenda, libero, iste velit repudiandae, ex dolor dolore labore molestiae cupiditate quod perferendis deleniti suscipit harum earum.</p>
            </div>
        </div>
        <div style="width: 250px; display: inline-block;">
            <div>
                <img src="https://drive.google.com/uc?export=view&id=1sVag_h8tmTxAZBktcbAU9n_UHAdMjkIK" width="100%" alt="">
            </div>
            <div>
                <h3 style="font-size: 25px; font-weight: 200; font-family: impact, sans-serif;">Buying PAGE</h3>
                <p style="font-size: 17px; text-align: left; line-height: 1.8;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptates in praesentium delectus cum, iure consequatur? Quo eveniet explicabo magni saepe ex! Quas ratione quisquam consectetur officia accusantium, atque unde!</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px; margin-bottom: 50px;">
        <div style="display: inline-block; margin-right: 10px;"><a href="https://www.facebook.com/profile.php?id=100094032737724&mibextid=LQQJ4d"><img src="https://drive.google.com/uc?export=view&id=1QnkoCc2SfNsWgD00ynqUsKIb0_8ltD7l" height="35" width="auto"></a></div>
        <div style="display: inline-block; margin-right: 10px;"><a href="https://www.linkedin.com/company/saver-is-safer/"><img src="https://drive.google.com/uc?export=view&id=1iWoZkzMVsHlu-ZsZRIqDQUdJn3B6PUCH" height="35" width="auto"></a></div>
        <div style="display: inline-block; margin-right: 10px;"><a href="https://instagram.com/saverissafer?igshid=YTQwZjQ0NmI0OA=="><img src="https://drive.google.com/uc?export=view&id=1PG6f9Lshs453wroi4bHFuEM3zNTXdWAk" height="35" width="auto"></a></div>
        <div style="display: inline-block; margin-right: 10px;"><a href=""><img src="https://drive.google.com/uc?export=view&id=1R57W-OR-6kilt2ugAlRXxyZXmnD4Lxj5" height="35" width="auto"></a></div>
        <p>Copyright &#169; 2024. All rights reserved.</p>
        <p style="margin-bottom: 20px;"><a href=""><span style="text-decoration: underline;">Unsubscribe</span></a> from our waitlist.</p>
    </div>